body {
/*	background-color: grey
	width: 150px;
	height: 150px;
	border: 2px solid black;
	display: inline-block;
	margin: 20px;
	font-family: Arial, sans-serif;
	text-align: center;*/
}

h1{
/*	font-size: 24px;
	font-weight: bolder;
	text-decoration: underline;
	text-transform: uppercase;
	color: blue;
	background: white;*/
}

h2{
/*	color: yellow;
	background: red;*/
}

h3{
/*	font-weight: bold;
	color: yellow;
	background: red;*/
}

p{
/*	font-family: "Open Sans", monospace;
	font-style: italic;
	color: yellow;
	background: red;*/
}

.subheading{
/*	font-size: 20px;
	color: orange;*/
}

#tip{
/*	font-weight: bold;
	font-size: 20px;*/
}

